   



.sis_padding{
    padding-left: 10px
}
.sis_td a{
    text-decoration: none
}
.sis_tr_background-color{
    background-color: #999; color: #fff
}
.sis_panel{
    font-size: 14px; color: #999
}
.sis_table{
    border: 1px solid #ccc
}

.sgc_combobox{
    width:550px;
}
.combo-panel{
    cursor: pointer;
    background-color:#fff;
    height: 70px!important;

}
.sis_div_inline{
    float: right; display: inline;width: 100%
}
.sis_div_left{
    float: left;margin-top: 3px;
}
.sis_input_height{
    height: 25px
}
.sis_div_right{
    float: right
}
.sis_div_margin{
    margin-top: 44px;
}

@media (max-width: 768px) {
.modal-content{
    height: 750px;
    width: 1000px; 
}
}


.modal-content{
   height:800px;
  
}

@media screen and (min-width: 768px) {
   #myModal-item .modal-dialog  {width:900px;}
}



#myModal-item .modal-lg{
  width:75%;  
  height: 894px;  
}



#descricaodoItem{

    width: 1667px;
    height: 94px;
    font-size: 10px;
    color: #0E56C7;
    resize:none;
}